{% extends 'base.html.twig' %}

{% block title %}Création d'une société{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<div class="example-wrapper">
    <div class="container">
        <h4>Formulaire de creation d'une société</h4>
        {{ form_start(form) }}
        {% for error in form.vars.errors %}
            {{ error.message }}
        {% endfor %}
        {{ form_row(form.name) }}
        {{ form_row(form.sirenNumber) }}
        {{ form_row(form.registrationCity) }}
        {{ form_row(form.registrationDate) }}
        {{ form_row(form.legalForm) }}
        <ul class="adresses">
            {% for address in form.addresses %}
                <li>
                    {{ form_widget(address.number) }}
                    {{ form_widget(address.streetType) }}
                    {{ form_widget(address.streetName) }}
                    {{ form_widget(address.city) }}
                    {{ form_widget(address.zipCode) }}
                </li>
            {% endfor %}
        </ul>
        <ul class="addresses"
            data-index="{{ form.addresses|length > 0 ? form.addresses|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}"
        ></ul>
        <button type="button" class="add_item_link" data-collection-holder-class="addresses">Ajouter une Adresse</button>
        {{ form_end(form) }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr('.datepicker', {
            dateFormat: 'd/m/Y',
            allowInput: true
        });

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
            const prototype = collectionHolder.dataset.prototype;
            const index = collectionHolder.dataset.index;
            const newForm = prototype.replace(/__name__/g, index);

            collectionHolder.dataset.index++;

            const li = document.createElement('li');
            li.innerHTML = newForm;
            collectionHolder.appendChild(li);
        };

        const removeFormFromCollection = (e) => {
            const formItem = e.currentTarget.closest('li');
            formItem.parentNode.removeChild(formItem);
        };

        document.querySelectorAll('.add_item_link').forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

        document.querySelectorAll('.delete_item_link').forEach(btn => {
            btn.addEventListener("click", removeFormFromCollection);
        });
    </script>
</div>
{% endblock %}
