{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <di class="container">
        <div class="row">
            <div class="col">
                Liste des sociétés
            </div>
            <div class="col">
                <a href="{{ path('app_company_create') }}" class="btn btn-primary btn-sm">Ajouter une société</a>
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
            <th>Nom de la société</th>
            <th>Numéro de siren</th>
            <th>Ville d'immatriculation</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>{{ company.sirenNumber }}</td>
                    <td>{{ company.registrationCity }}</td>
                    <td>
                        <a href="{{ path('app_company_update', {'id': company.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                        <a href="{{ path('app_company_delete', {'id': company.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        <a href="{{ path('app_company_show', {'id': company.id}) }}" class="btn btn-primary btn-sm">Afficher</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </di>
</div>
{% endblock %}
