{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .company-details { margin-top: 20px; }
        .company-details h5 { margin-bottom: 10px; }
        .address-table { margin-top: 20px; }
        .address-table th { font-weight: bold; }
    </style>
    <div class="example-wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Sélectionnez une date :</h3>
                    <input type="text" id="eventDate" required="required" class="datetimepicker form-control" placeholder="Saisir une date">
                </div>
            </div>
            <div class="company-details">
                <h4>Fiche de la société</h4>
                <hr>
                <div class="row">
                    <div class="col" id="company-name">
                        <strong>Nom de la société :</strong> {{ company.name }}
                    </div>
                    <div class="col" id="company-siren">
                        <strong>Numéro de siren :</strong> {{ company.sirenNumber }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="company-registration-city">
                        <strong>Ville d'immatriculation :</strong> {{ company.registrationCity }}
                    </div>
                    <div class="col" id="company-registration-date">
                        <strong>Date d'immatriculation :</strong> {{ company.registrationDate|date('d/m/Y') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="company-legal-form">
                        <strong>Forme juridique :</strong> {{ company.legalForm.label }}
                    </div>
                </div>
            </div>
            <div class="address-table">
                <h4>Les adresses de la société :</h4>
                <hr>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>N°</th>
                        <th>Type de la voie</th>
                        <th>Nom de la voie</th>
                        <th>Ville</th>
                        <th>Code Postal</th>
                    </tr>
                    </thead>
                    <tbody id="address-list">
                    {% for address in company.addresses %}
                        <tr>
                            <td>{{ address.number }}</td>
                            <td>{{ address.streetType }}</td>
                            <td>{{ address.streetName }}</td>
                            <td>{{ address.city }}</td>
                            <td>{{ address.zipCode }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr('.datetimepicker', {
            dateFormat: 'd/m/Y H:i:S',
            enableTime: true,
            allowInput: true
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var eventDateInput = document.getElementById('eventDate');
            eventDateInput.addEventListener('change', function () {
                var eventDate = eventDateInput.value;
                var companyId = {{ company.id }};
                var url = '{{ path("app_event_created_at") }}';

                var xhr = new XMLHttpRequest();
                xhr.open('GET', url + '?date=' + encodeURIComponent(eventDate) + '&companyId=' + companyId);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            document.getElementById('company-name').innerHTML = '<strong>Nom de la société :</strong> ' + response.changes.name;
                            document.getElementById('company-siren').innerHTML = '<strong>Numéro de siren :</strong> ' + response.changes.sirenNumber;
                            document.getElementById('company-registration-city').innerHTML = '<strong>Ville d\'immatriculation :</strong> ' + response.changes.registrationCity;
                            document.getElementById('company-registration-date').innerHTML = '<strong>Date d\'immatriculation :</strong> ' + response.changes.registrationDate;
                            document.getElementById('company-legal-form').innerHTML = '<strong>Forme juridique :</strong> ' + response.changes.legalForm;

                            var addressList = document.getElementById('address-list');
                            addressList.innerHTML = '';
                            response.changes.addresses.forEach(function (address) {
                                var row = document.createElement('tr');
                                row.innerHTML = '<td>' + address.number + '</td><td>' + address.streetType + '</td><td>' + address.streetName + '</td><td>' + address.city + '</td><td>' + address.zipCode + '</td>';
                                addressList.appendChild(row);
                            });
                        } else {
                            console.error('Erreur lors de la requête AJAX');
                        }
                    }
                };
                xhr.send();
            });
        });
    </script>
{% endblock %}
