{% extends 'base.html.twig' %}

{% block title %}Création d'une société{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="container">
        <h4>Formulaire de modification d'une société</h4>
        {{ form_start(form) }}
        {% for error in form.vars.errors %}
            {{ error.message }}
        {% endfor %}
        <div class="mb-3 row">
            {{ form_label(form.name) }}
            <div class="col-sm-10">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="mb-3 row">
            {{ form_label(form.sirenNumber) }}
            <div class="col-sm-10">
                {{ form_widget(form.sirenNumber) }}
            </div>
        </div>
        <div class="mb-3 row">
            {{ form_label(form.registrationCity) }}
            <div class="col-sm-10">
                {{ form_widget(form.registrationCity) }}
            </div>
        </div>
        <div class="mb-3 row">
            {{ form_label(form.registrationDate) }}
            <div class="col-sm-10">
                {{ form_widget(form.registrationDate) }}
            </div>
        </div>
        <div class="mb-3 row">
            {{ form_label(form.legalForm) }}
            <div class="col-sm-10">
                {{ form_widget(form.legalForm) }}
            </div>
        </div>
        <ul class="adresses">
            <h4>Adresses :</h4>
            {% for address in form.addresses %}
                <li>
                    {{ form_widget(address.number) }}
                    {{ form_widget(address.streetType) }}
                    {{ form_widget(address.streetName) }}
                    {{ form_widget(address.city) }}
                    {{ form_widget(address.zipCode) }}
                </li>
            {% endfor %}
        </ul>
        <ul class="addresses"
            data-index="{{ form.addresses|length > 0 ? form.addresses|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}"
        ></ul>
        <button type="button" class="add_item_link btn btn-primary btn-sm" data-collection-holder-class="addresses">Ajouter une Adresse</button>
        {{ form_widget(form.register) }}
        {{ form_end(form) }}
    </div>
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
            const prototype = collectionHolder.dataset.prototype;
            const index = collectionHolder.dataset.index;
            const newForm = prototype.replace(/__name__/g, index);

            collectionHolder.dataset.index++;

            const li = document.createElement('li');
            li.innerHTML = newForm;
            collectionHolder.appendChild(li);
        };

        const removeFormFromCollection = (e) => {
            const formItem = e.currentTarget.closest('li');
            formItem.parentNode.removeChild(formItem);
        };

        document.querySelectorAll('.add_item_link').forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

        document.querySelectorAll('.delete_item_link').forEach(btn => {
            btn.addEventListener("click", removeFormFromCollection);
        });
    </script>
</div>
{% endblock %}
